<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Failure and You</title>
     <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--CSS Sheet-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<!-- ======= Header ======= -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href="{{url_for('home')}}">Home</a>
            </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{{url_for('checkheart')}}">Check your Heart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{{url_for('states')}}">Maps of FastFoods in the US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Our Data Sources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction">Heart Failure Prediction</a></li>
                  <li><a class="dropdown-item" href="https://www.cdc.gov/nchs/pressroom/sosmap/heart_disease_mortality/heart_disease.htm">CDC States Mortality Rate</a></li>
                  <li><a class="dropdown-item" href="https://www.kaggle.com/datasets/thedevastator/fast-food-restaurants-in-the-united-states">Fast Food Data</a></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
              <li class="nav-item mx-2">
                <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-google-plus-square"></i></a>
              </li>
              <li class="nav-item mx-2">
                <i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item mx-2">
                <i class="fab fa-facebook-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav><!-- .navbar -->

    </header><!-- End Header -->
  <div class="mt-12 row">
      <div class="mt-8 container-sm-6" id="ProjectBody" style="border:4px solid #c30d0d;">
        <div class="col-lg-6 mx-auto" style="border:2px solid #c30d0d;">
          <h1>Our Goal</h1>
          <p class = "text-center">The purpose of this project was to explore an overall analysis of heart disease in America and the potential implications of availability of unhealthy (fast food) options on the disease and death rates.
          Per the World Health Organization, cardiovascular disease is the number one leading cause of death globally. It is responsible for 16% of the world’s total deaths since the year 2000.
          The American lifestyle is becoming more sedentary and increasing food costs have put pressure on us to eat poorly. Is the availability of lower cost, less healthy options adversely affecting American heart health?</p>
        </div>
        <div class="col-sm-6 mx-auto">
          <p class = "text-center">WHO Stats: <a class="nav-link text-primary h5" href="https://www.who.int/news-room/fact-sheets/detail/the-top-10-causes-of-death" target="blank">Fact Sheet</a> 
          Hamburgers, fries, sugary sodas, and other less healthy foods may cause inflammation, a key player in the formation of artery-clogging plaque. Eating foods such as red meat and sugary treats may trigger inflammation, raising your risk of cardiovascular disease.
          Harvard Health: <a class="nav-link text-primary h5" href="https://www.health.harvard.edu/heart-health/why-junk-food-diets-may-raise-heart-disease-risk#:~:text=Hamburgers%2C%20fries%2C%20sugary%20sodas%2C,your%20risk%20of%20cardiovascular%20disease" target="blank">Junk food diest might raise heart risk</a>.
          University of Minnesota School of Public Health researchers examined the eating habits of adults living in Singapore to determine the health risks of eating Western-style fast food. The study found that consuming fast food as little as once a week increases the risk of dying from coronary heart disease by 20 percent. The risk goes up to 50 percent if you eat fast food two to three times weekly, according to the study. Worse still, the risk shoots to 80 percent for those who eat fast food four or more times per week. Researchers published the results in the July 2012 issue of the journal "Circulation."
          Livestrong:<a class="nav-link text-primary h5" href="https://www.livestrong.com/article/26855-fast-cause-heart-disease/" target="blank">Heart Disease</a> 
          The excess strain and resulting damage from high blood pressure causes the coronary arteries serving the heart to slowly become narrowed from plaque — a buildup of fat, cholesterol and other substances. This slow process is called atherosclerosis.
          Heart.org:<a class="nav-link text-primary h5" href="https://www.heart.org/en/health-topics/high-blood-pressure/health-threats-from-high-blood-pressure/how-high-blood-pressure-can-lead-to-a-heart-attack#:~:text=The%20excess%20strain%20and%20resulting,slow%20process%20is%20called%20atherosclerosis." target="blank">high-blood-pressure</a> 
          Two main reasons people have heart disease or stroke are high blood pressure* and cholesterol, which are common, deadly, and preventable.
          CDC:<a class="nav-link text-primary h5" href="https://www.cdc.gov/vitalsigns/cardiovasculardisease/index.html" target="blank">Cardio Vasuclar Disease</a></p>
        </div>
      </div>
  </div>
<footer>
    <div class="GitHubMaggie text-lg-center">
        Check out Maggie's <a href="https://github.com/stewamag" target="_blank">GitHub</a>
    </div>
    <div class="GitHubAaron text-lg-center">
        Check out Aaron's <a href="https://github.com/AmccartyA" target="_blank">GitHub</a>
    </div>
<div class="container footer-bottom">
    <div class="teamData text-center">
      &copy; We do not own any of the information. <strong><span></span></strong>. For free Use
    </div>
  </div>
</footer><!-- End Footer -->

</body>
</html>